body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  padding: 20px;
}

.input-group {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebebeb;
}

.input-group > * {
  border: none;
  outline-width: 0px !important;
}

.input-group input {
  width: 100%;
  background-color: transparent;
}

.input-group button {
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.preview img {
  max-width: 90%;
}

.btn {
  background-color: #eee;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-success {
  background-color: #5cb85c;
}

.btn-primary {
  background-color: #5bc0de;
}

.error-container {
  color: #58151c;
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}