.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.text-muted {
  color: rgba(33, 37, 41, 0.75);
}

.text-sm {
  font-size: 12px;
}

.mt-1 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 2em;
}
